* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Della Respira", serif;
  color: #07345d;
  background-color: #08345d;
}
p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0 !important;
}
footer {
  background-color: #07345d;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
